<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	</head>
	<body style="background-color: black">
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">
					<div data-th-replace="~{layouts/header :: header-oficial}"></div>
					<aside class="col-md-2">
						<div data-th-replace="~{fragments/aside-bt::aside-boot}"></div>
					</aside>
					<main class="col-md-10">
						<form data-th-object="${nuevoDocente}" data-th-action="@{/guardarDocente}" method="post">
							<div class="container-fluid text-center">
								<h1>Formulario Docente</h1>
								<input class="form-control form-control-lg" type="text" placeholder="Legajo" aria-label=".form-control-lg example" data-th-field="*{legajo}"> 
								<input class="form-control form-control-lg" type="text" placeholder="Nombre" aria-label=".form-control-lg example" data-th-field="*{name}">
								<input class="form-control form-control-lg" type="text" placeholder="Apellido" aria-label=".form-control-lg example" data-th-field="*{lastname}"> 
								<input class="form-control form-control-lg" type="email" placeholder="Email" aria-label=".form-control-lg example" data-th-field="*{email}">
								<input class="form-control form-control-lg" type="email" placeholder="Teléfono" aria-label=".form-control-lg example" data-th-field="*{phone}">
								<button type="submit" class="btn btn-info border-info">Guardar Docente</button>
							</div>
						</form>
						<div>
							<a class="btn btn-warning" href="/principal/index"> ¿Cancelar?</a>
						</div>
					</main>
					<footer>
						<div data-th-replace="~{fragments/footer-f::footer-fr}"></div>
					</footer>
				</div>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>