<!DOCTYPE html>
<html lang="es">
<!-- xmlns:th="" NO SE RECOMIENDA USAR  -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TP04</title>
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body style="background-color: black">
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">
					<div data-th-replace="~{layouts/header::header-oficial}"></div>
					<aside class="col-md-2">
						<div data-th-replace="~{fragments/aside-bt::aside-boot}"></div>
					</aside>
					<main class="col-md-10">
						<div class="card text-bg-dark border-warning mt-1"
							style="font-family: JetBrains-Mono">
							<h5 class="card-title text-warning fs-3 mt-2">Novedades:</h5>
							<div class="card-body text-danger">
								<div class="card-text">Las novedades más relevantes de la
									semana</div>
							</div>
						</div>
						<div
							data-th-replace="~{fragments/section-carousel::carousel-section}">
						</div>
						<div
							data-th-replace="~{fragments/section-description::description-f}">
						</div>
					</main>
					<footer>
						<div data-th-replace="~{fragments/footer-f::footer-fr}"></div>
					</footer>
				</div>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>