<!DOCTYPE html>
<html lang="es">
<!-- xmlns:th="" NO SE RECOMIENDA USAR  -->
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div>
		<header>
			<div data-th-replace = "~{fragments/header::navbar}">
			<!-- ~ hace referencia, hay muchos: @ # ~ +  -->
			</div>
		</header>
		<main>
		<h1>Trabajo Practico N4</h1>
			<aside>
				<h1>Aside</h1>
			</aside>
		</main>
		
		<footer>
			<div data-th-replace="~{fragments/header::paginacion}">
			</div>
		</footer>
	</div>
	
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>