<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Lista Carreras</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color: black">
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">
					<div data-th-replace="~{layouts/header :: header-oficial}"></div>
					<div class="container">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Codigo</th>
									<th scope="col">Nombre</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Estado</th>
									<th scope="col">Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr data-th-each="carrera : ${listadoCarreras}">
									<td data-th-text="${carrera.code}"></td>
									<td data-th-text="${carrera.name}"></td>
									<td data-th-text="${carrera.total_years}"></td>
									<td data-th-text="${carrera.state}"></td>
									<td>
										<a data-th-href="@{'/eliminarCarrera/' + ${carrera.code}}" class="btn btn-danger">Borrar</a>
										<a data-th-href="@{'/modificarCarrera/' + ${carrera.code}}" class="btn btn-warning">Modificar</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div>
							<a class="btn btn-warning" data-th-href="@{'/formCarrera'}"> ¿Nuevo Registro?</a>
						</div>
					</div>
					<footer>
						<div data-th-replace="~{fragments/footer-f::footer-fr}"></div>
					</footer>
				</div>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>