<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Lista Materias</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

	<!-- 	<div> -->
	<!-- 		<div class="card" style="width: 18rem;"> -->
	<!-- 			<img src="..." class="card-img-top" alt="..."> -->
	<!-- 			<div class="card-body"> -->
	<!-- 				<h5 class="card-title">Card title</h5> -->
	<!-- 				<p class="card-text">texto</p> -->
	<!-- 				<a href="#" class="btn btn-primary">Go somewhere</a> -->
	<!-- 				<a href="#" class="btn btn-primary">Go somewhere</a> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
<body style="background-color: black">
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">
						<div data-th-replace="~{layouts/header :: header-oficial}"></div>
						<div class="container">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">Codigo</th>
										<th scope="col">Nombre</th>
										<th scope="col">Curso</th>
										<th scope="col">Horas</th>
										<th scope="col">Modalidad</th>
										<th scope="col">Docente a Cargo</th>
										<th scope="col">Carrera</th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="materia : ${listadoMaterias}">
										<td data-th-text="${materia.code}"></td>
										<td data-th-text="${materia.name}"></td>
										<td data-th-text="${materia.course}"></td>
										<td data-th-text="${materia.hours}"></td>
										<td data-th-text="${materia.modality}"></td>
										<td data-th-text="${materia.teacher_name}"></td>
										<td data-th-text="${materia.carrer}"></td>
										<td>
											<a data-th-href="@{'/eliminarMateria/' + ${materia.code}}" class="btn btn-danger">Borrar</a>
											<a data-th-href="@{'/modificarMateria/' + ${materia.code}}" class="btn btn-warning">Modificar</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					<footer>
						<div data-th-replace="~{fragments/footer-f::footer-fr}"></div>
					</footer>
				</div>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>