<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div data-th-fragment="footer-fr">
		<div class="card text-bg-dark border-info mb-1 mt-1" style="font-family:JetBrains-Mono">
			<div class="card-header">Información de Contacto</div>
			<div class="card-body">
				<div class="row row-cols-2">

					<div>
						<div class="row">
							<div>
								<h5 class="card-title">Dirección:</h5>
								<div class="col card-text">Italo Palanca, San Salvador de
									Jujuy</div>
							</div>
							<div>
								<h5 class="card-title">Teléfono:</h5>
								<div class="col card-text">+54-388-423456</div>
							</div>
							<div>
								<h5 class="card-title">Correo Electrónico</h5>
								<div class="col card-text">contacto_unju@fi.unju.edu.ar</div>
							</div>
						</div>
					</div>

					<div>
						<div class="row">
							<div>
								<h5 class="card-title">Facebook:</h5>
								<div class="col card-text"><a href="#" >www.facebook.com</a></div>
							</div>
							<div>
								<h5 class="card-title">Instagram:</h5>
								<div class="col card-text"><a href="#" >www.instagram.com</a></div>
							</div>
							<div>
								<h5 class="card-title">LinkedIn</h5>
								<div class="col card-text"><a href="#" >www.linkedin.com</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col text-center">
						<p>&copy; 2024 UNJu - Todos los derechos reservados.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>