<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div data-th-fragment="navbar">
		<nav class="navbar navbar-expand-lg bg-dark rounded">
			<div class="container-fluid">
				<a class="navbar-brand text-white bg-dark" href="#"><img
					style="width: 2em" alt="logo" src="/img/icon-flawer.png">UNJu</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto mb-lg-0" style="font-size: 70%">
						<li class="nav-item border border-info rounded"><a
							class="nav-link active text-white bg-dark" aria-current="page" href="/principal/index">Inicio</a></li>
						<li class="nav-item border border-info rounded"><a
							class="nav-link text-white bg-dark" href="#">Noticias</a></li>
						<li class="nav-item border border-info rounded"><a
							class="nav-link text-white bg-dark" href="#">Carreras</a></li>
						<li class="nav-item border border-info rounded"><a
							class="nav-link text-white bg-dark" href="#">Contacto</a></li>
						<li class="nav-item border border-info rounded"><a
							class="nav-link text-white bg-dark" href="#">Acerca de</a></li>
							
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle border border-info rounded text-white bg-dark" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Formularios
						</a>
							<ul class="dropdown-menu mb-0 mt-0 p-0 border border-info">
								<li><a class="dropdown-item border border-info text-white bg-dark" href="/formAlumno">Formulario
										Alumnos</a></li>
								<li><a class="dropdown-item border border-info text-white bg-dark" href="/formCarrera">Formulario
										Carreras</a></li>
								<li><a class="dropdown-item border border-info text-white bg-dark" href="/formDocente">Formulario
										Docentes</a></li>
								<li><a class="dropdown-item border border-info text-white bg-dark" href="/formMateria">Formulario
										Materias</a></li>
							</ul></li>
							
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle border border-info rounded text-white bg-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Listas </a>
							<ul class="dropdown-menu mb-0 mt-0 p-0 border border-info">
								<li>
									<a class="dropdown-item border border-info text-white bg-dark" href="/listaDeAlumnos">Lista Alumnos</a>
								</li>
								<li>
									<a class="dropdown-item border border-info text-white bg-dark" href="/listaDeCarreras">Lista Carreras</a>
								</li>
								<li>
									<a class="dropdown-item border border-info text-white bg-dark" href="/listaDeDocentes">Lista Docentes</a>
								</li>
								<li>
									<a class="dropdown-item border border-info text-white bg-dark" href="/listaDeMaterias">Lista Materias</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search"
							placeholder="buscar" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Buscar</button>
					</form>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>