<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div data-th-fragment="carousel-section">
		<div id="carouselExampleAutoplaying" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-inner mb-3">
				<div class="carousel-item active">
					<div class="card text-bg-dark border-info mt-1 bx-1">
						<h5 class="card-title text-warning fs-3 mt-2">¡Atentis!</h5>
						<div class="card-body text-danger">
							<img
								src="/img/image01.jpg"
								class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card text-bg-dark border-info mt-0 bx-4">
						<h5 class="card-title text-warning fs-3 mt-2">¡Atentis!</h5>
						<div class="card-body text-danger">
							<img
								src="/img/image02.jpg"
								class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<div class="carousel-item">
				<div class="card text-bg-dark border-info mt-0 bx-4">
						<h5 class="card-title text-warning fs-3 mt-2">¡Atentis!</h5>
						<div class="card-body text-danger">
							<img
								src="/img/image03.jpg"
								class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Anterior</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Siguiente</span>
			</button>
		</div>
	</div>
</body>
</html>