<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<div data-th-fragment="description-f">
		<div class="card text-bg-dark border-info" style="width: 100%;">
			<img
				src="https://3.bp.blogspot.com/-mEXjYk2VF7A/Uw3t1EXNZ1I/AAAAAAAACVM/DX9paOwBaTg/s1600/ingenie.jpg"
				class="card-img-top" alt="image">
			<div class="card-body">
				<h5 class="card-title">Historia de la Facultad de Ingeniería de
					la Universidad Nacional de Jujuy</h5>
				<p class="card-text">Fundada en 1972, la Facultad de Ingeniería
					de la Universidad Nacional de Jujuy se especializa en Ingeniería
					Agronómica, de Minas, Informática y Química. Promueve el desarrollo
					regional formando profesionales competentes, fortaleciendo vínculos
					con el sector productivo y contribuyendo significativamente a la
					economía local y nacional.</p>
			</div>
		</div>
	</div>
</body>
</html>